# Environment
NODE_ENV=development

# API Authentication
API_ACCESS_KEY=your-secret-api-key

# Anthropic Claude API
ANTHROPIC_API_KEY=sk-ant-your-anthropic-api-key

# MongoDB Atlas
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB_NAME=db-name
